<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
</head>
<body>
  <h1 style= "text-align: center;" >Inventory Table</h1>
    <table>
        <tr>
          <th>Inventory_id</th>
          <th>Inventory_type</th>
          <th>Item_name</th>
          <th>Available_Quantity</th>
        </tr>
        <% database.forEach(function(data) { %>
          <tr>
            <td><%=data.Inventory_id%></td>
            <td><%=data.Inventory_type%></td>
            <td><%=data.Item_name%></td>
            <td><%=data.Available_quantity%></td>
          </tr>
        <% }); %>
     
      </table>
</body>
</html>